.sidebar {
  padding: 10px;
  position: relative;
}
  
.port-container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}
  
.choices {
  margin-top: 20px;
}
  
.choices ul {
  list-style-type: none;
  padding: 0;
}
  
.choices li {
  margin-bottom: 10px;
 
}

.choices li a {
  display: flex;             
  align-items: center;       
  text-decoration: none;
  color: white;         
}

.choices li a svg {
  margin-right: 8px;         /* Add space between the icon and the text */
}

.dropdown {
  position: relative; 
  cursor: pointer;
  background-color: #4CAF50;
  color: black;
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  width: 175px;
}

.dropdown-menu .dropdown-item {
  padding: 10px;
  cursor: pointer;
  color: black;
  width: 100%; 
}
  
.dropdown.open .dropdown-content {
  display: block;
}
  